@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

#mainSec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* border: 2px solid white;
    margin-left: 30%; */
}

.row1, .row2, .row3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    /* color: white; */
    
}


#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9{
    margin: 5vw;
    /* border: 1px solid white; */
    background-color: white;
    width: 20vw;
    height: 20vh;
    font-size: 10vw;
}

#b1:hover, #b2:hover, #b3:hover, #b4:hover, #b5:hover, #b6:hover, #b7:hover, #b8:hover, #b9:hover{
    background-color: red;
    color: white;
}

#b1, #b2, #b4, #b5{
    border-right: solid 2px white;

}